# Unpinned version of https://github.com/odoo/odoo/blob/16.0/requirements.txt to let Pipfile resolve
Babel
chardet
cryptography
decorator
docutils
ebaysdk
freezegun
freezegun
gevent
gevent
gevent
greenlet
greenlet
greenlet
idna
Jinja2
libsass
lxml
MarkupSafe
num2words
ofxparse
ofxparse
passlib
Pillow
polib
psutil
psycopg2
psycopg2
pydot
pyopenssl
PyPDF2
pypiwin32 # only for win32 platform but pipfile got trouble converting this https://github.com/pypa/pipenv/issues/4307
pyserial
python-dateutil
python-ldap
python-stdnum
pytz
pyusb
qrcode
reportlab
requests
urllib3
vobject
Werkzeug
Werkzeug
xlrd
xlrd
XlsxWriter
xlwt
zeep
