[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.88.0"
uvicorn = {version = "==0.20.0", extras = ["standard"]}
#-r https://raw.githubusercontent.com/odoo/odoo/16.0/requirements.txt
#-e git+https://github.com/odoo/odoo@16.0#egg=odoo
babel = "*"
chardet = "*"
cryptography = "*"
decorator = "*"
docutils = "*"
ebaysdk = "*"
freezegun = "*"
gevent = "*"
greenlet = "*"
idna = "*"
jinja2 = "*"
libsass = "*"
markupsafe = "*"
num2words = "*"
ofxparse = "*"
pillow = "*"
polib = "*"
psutil = "*"
pydot = "*"
pyopenssl = "*"
pypdf2 = "==1.26.0"
#pypiwin32 = "*"
pyserial = "*"
python-dateutil = "*"
python-ldap = "*"
python-stdnum = "*"
pytz = "*"
pyusb = "*"
qrcode = "*"
reportlab = "*"
requests = "*"
urllib3 = "*"
vobject = "*"
werkzeug = "==2.0.2"
xlrd = "*"
xlsxwriter = "*"
xlwt = "*"
zeep = "*"
odoo = {editable = true, ref = "16.0", git = "https://git@github.com/odoo/odoo"}
psycopg2-binary = "*"
psycopg2 = "*"
lxml = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
fastapi-pagination = {extras = ["all"], version = "*"}

[dev-packages]
pre-commit = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
